<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta property="og:title" content="{{ site.seo.meta_og_title }}" />
  <meta property="og:type" content="{{ site.seo.meta_og_type }}" />
  <meta property="og:url" content="{{ site.seo.meta_og_url }}" />
  <meta property="og:description" content="{{ site.seo.meta_og_description }}" />

  <meta name="google-site-verification" content="vstkqjcoJe9vQcOOpsCKrxv6WfqZ2SKRNWSv7XoHFeQ" />
  <meta name="msvalidate.01" content="4A52AB02DC5D65343F8B79072743FFEC" />
  <meta name="yandex-verification" content="a881d44f8f322c42" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSBMMBWJM2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JSBMMBWJM2');
  </script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="{{ '/assets/images/favicon/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <script
    data-cookie-notice='{ "learnMoreLinkEnabled": true, "learnMoreLinkHref": "/terms/" }'
    src="https://unpkg.com/cookie-notice@^1/dist/cookie.notice.min.js"
  ></script>

</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ "/assets/js/scripts.js" | relative_url }}""></script>
  {% include google-analytics.html %}
</body>
</html>
